h2 {
	text-transform: capitalize;
}

em {
	text-transform: capitalize;
}

h4 {
	margin: 1px;
}

.nav-container {
	display: inline-block;
}

.nav-list {
	display: block;
	list-style-type: none;
	padding-left: 0;
	text-transform: capitalize;
}

.nav-item {
	float: left;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #eeeeee;
	cursor: pointer;
}

.role-container {
	padding-left: 36px;
}
